* {
    margin: 0% 0% 0% 0%;
    font-family: "Jua";
    letter-spacing: 2px;
}

h1, h2, h3 {
    font-family: "Hanalei Fill";
    text-align: center;
}

p {
    color: aliceblue;
}

header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 150px;
    top: 0px;
    background-color: black;
}

footer {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 15vmax;
    top: 0px;
    
    background-image: url(../img/bg_firstview.jpg);
    background-repeat: no-repeat;
    background-size: 100vmax;
    background-attachment: fixed;
    background-position: bottom;
}

#true {
    position: fixed;
    background-color: red;
    background-image: url(../img/tile_header.jpg);
    background-size: contain;
}

#other {
    position: fixed;
    height: 226px;
    min-width: 1600px;
    flex-direction: column;

    background-color: transparent;
    background-image: url(../img/fatalis_header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(50vw - 565px);
}

#bod {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: aqua;
}

#center {
    display: flex;
    flex-direction: column;
    background: url(../img/tile_center2.jpg);
    background-size: 75%;
    padding: 75px 5% 75px 5%;
}

/* Classes */

.side {
    display: flex;
    width: 25%;
    background-color: blue;
    background: url(../img/tapestry_texture.jpg);
    background-size: 300%;
}

.dynimage {
    display: flex;
    width: 30%;
    align-self: center;
}

/* Fonts */

.hanalei-fill-regular {
    font-family: "Hanalei Fill", system-ui;
    font-weight: 400;
    font-style: normal;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
  
  