* {
    margin: 0% 0% 0% 0%;
    font-family: "Jua";
    letter-spacing: 2px;
}

h1, h2, h3 {
    font-family: "Hanalei Fill";
    text-align: center;
}

p {
    color: aliceblue;
    font-size: large;
    font-family: "Special Gothic Condensed One";
    font-weight: 600;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;

    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 150px;
    top: 0px;
    background-color: black;
}

footer {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 15vmax;
    top: 0px;
    
    background-image: url(../img/bg_firstview.jpg);
    background-repeat: no-repeat;
    background-size: 100vmax;
    background-attachment: fixed;
    background-position: bottom;
}

article {
    display: flex;
    align-items: center;
    text-align: center;
}

/* IDs */

#true {
    position: fixed;
    background-color: red;
    background-image: url(../img/tile_header.jpg);
    background-size: contain;
}

#other {
    position: fixed;
    height: 226px;
    min-width: 1600px;
    flex-direction: column;

    background-color: transparent;
    background-image: url(../img/fatalis_header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(50vw - 565px);
}

#bod {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: aqua;
}

#left {
    background: linear-gradient(to left, rgb(50, 0, 0), 10%, transparent), url(../img/tapestry_texture.jpg);
}

#right {
    background: linear-gradient(to right, rgb(50, 0, 0), 10%, transparent), url(../img/tapestry_texture.jpg);
}

#center {
    display: flex;
    flex-direction: column;
    background: 
        linear-gradient(to right, rgb(65, 25, 13), 3.3%, transparent), 
        linear-gradient(to left, rgb(65, 25, 13), 3.3%, transparent),
        url(../img/tile_center2.jpg);
    background-size: 100%;
    padding: 75px 5% 75px 5%;
}

/* Classes */

.side {
    display: flex;
    width: 25%;
}

.paper { /*use different font and colors*/
    background: 
        linear-gradient(to bottom, rgb(190, 160, 62), 1%, transparent), 
        linear-gradient(to top, rgb(190, 160, 62), 1%, transparent),
        linear-gradient(to left, rgb(190, 160, 62), 1%, transparent),
        linear-gradient(to right, rgb(190, 160, 62), 1%, transparent),
        white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.paper p {
    color: black;
}

.dynimage {
    display: flex;
    width: 50%;
    max-width: 50vmax;
    align-self: center;
}

.twos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Fonts */

@font-face {
    font-family: "Hanalei Fill";
    src: url(../rabocra-font/Rabocra-1jY2j.otf);
}

.hanalei-fill-regular {
    font-family: "Hanalei Fill", system-ui;
    font-weight: 400;
    font-style: normal;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.new-rocker-regular {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.special-gothic-condensed-one-regular {
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

  
  